/* base styles */
body {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 200%;
  color: black;
}

h2 {
  text-align: center;
  font-weight: ;
  font-size: 115%;
}

h3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

/* layout styles */
.navbar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}

#hero {

}

/*.information {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
} */

#meet {

}

.staff {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-evenly;;
}

#students {

}

#contact-form {

}



/* block styles */
   /*navbar */
 .navbuttons {
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content:normal;
  text-decoration: none;
} 
.listbuttons {
display: flex;
justify-content: space-evenly;
padding: 10px;


}

/* hero */

.hero-container {


}

.hero-title {

}

.hero-description {

}

/* meet */

.meet-title {

}

.meet-description {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
text-align: center;
width: 50%;
}

.buttonstory {
  color: blue;
  text-align: center;
}


/* staff */

#staff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  
  grid-gap: 5px;
  background-color: white;
}

/*.boxone
.boxtwo
.boxthree
.boxfour {
display: flex;
flex-wrap: nowrap;

  } */


/* students */

#kenzie-students {

}

#student-description {

}

/* contact-form */


/* mobile section */
@media (min-width: 525px;) {
  .staff {
    dispaly: flex;
  }
}




