/* main coding */
body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Nunito, sans-serif";
  width: 50%;
}
p {
  font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: 200%;
    color: black;
  } 
/* sections */

/* meet kenzie section */

.information {
  display: grid;
  grid-template-areas: "left header header header right"
  "left left main main main main right"
  "left footer footer footer footer footer right";
}

.meet {
  text-align: center;
  padding: 90px 50px;

}

.meettitle {

}
.meet-descript {
  
}
.buttonstory {
  background-color: lightblue;
  margin: 6px;
  
}

/* staff section */

.staff { 
display: grid;
grid-template-areas: "left header header header header right";
grid-gap: 60px;

/* } */

.boxone,
.boxtwo,
.boxthree,
.boxfour {
  display: grid;
  grid-template-area: "header header header header";
  
}


/* .row1, */
/* .row2 { */
/* } */

h3 {
  text-align: center;
  font-weight: bold;
}

 /* students */

 .students {
  display: grid;
  grid-template-areas: "header header right right"

 
 }
.kenziestudents {

}
.student-video {
  display: grid;
}
.video-image {
  width: 100%;
}

/* Mobile styles*/
@media (min-width: 550px) {
  .staff {
    display: flex;
  }
  .student-video > img {
    width: 550px;
  }
  .student-description > p {
    width: auto;
  }
}
/* Deskstop styles*/
@media (max-width: 800px) {
  .meet-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    margin: 1em;
    background-color: thistle;
  }
  .staff {
    display: flex;
    padding: 10px;
  }
  .student-video {
    display: flex;
  }
  .student-video {
    flex-direction: column;
  }
  .student-description > p {
    width: auto;
  }
}







